@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-align: center;
}
.car-slide{
    color:black;
}

.front-page{
    text-align: center;
}
.carousel-css{
    background-color: rgba(255, 255, 255, 0.733);
}
.figure-css{
    background-color: rgba(255, 255, 255, 0.801);
}